---
import BaseLayout from '../layouts/BaseLayout.astro'
import { buttonVariants } from '../components/ui/button'
import * as solutions1Post from '../mdx/solutions1.md'
import * as solutions2Post from '../mdx/solutions2.md'
import * as solutions3Post from '../mdx/solutions3.md'
import * as solutions4Post from '../mdx/solutions4.md'
import * as solutions5Post from '../mdx/solutions5.md'
import { Image } from 'astro:assets';
import solutions1Img from '../images/solutions1Img.jpg';
import solutions2Img from '../images/solutions2Img.jpg';
import solutions3Img from '../images/solutions3Img.png';
import solutions4Img from '../images/solutions4Img.png';
import solutions5Img from '../images/solutions5Img.png';
---

<BaseLayout>
  <section class="container grid items-center gap-6 pb-8 pt-6 md:py-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e7008a" fill-opacity="0.9" d="M0,64L40,101.3C80,139,160,213,240,256C320,299,400,309,480,277.3C560,245,640,171,720,133.3C800,96,880,96,960,101.3C1040,107,1120,117,1200,133.3C1280,149,1360,171,1400,181.3L1440,192L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="text-4xl font-extrabold leading-tight tracking-tighter md:text-4xl"
      >
        Energy Efficient Appliances <br class="hidden sm:inline" />
         
      </h1>
     
      <solutions1Post.default />
      <Image src={solutions1Img} alt="Energy Efficient Appliances"/>

      <h1
      class="text-4xl font-extrabold leading-tight tracking-tighter md:text-4xl"
    >
    Green Roofs and Walls. <br class="hidden sm:inline" />
           
  </h1>
  <solutions2Post.default />  
  <Image src={solutions2Img} alt="Green Roofs and Walls"/>

  <h1
  class="text-4xl font-extrabold leading-tight tracking-tighter md:text-4xl"
>
Efficient Appliances. <br class="hidden sm:inline" />
       
</h1>
<solutions3Post.default />  
<Image src={solutions3Img} alt="Efficient Appliances"/>
<h1
  class="text-4xl font-extrabold leading-tight tracking-tighter md:text-4xl"
>
Solar Panels. <br class="hidden sm:inline" />
       
</h1>
<solutions4Post.default />  
<Image src={solutions4Img} alt="Solar Panels"/>


<h1
  class="text-4xl font-extrabold leading-tight tracking-tighter md:text-4xl"
>
Rainwater Irrigation. <br class="hidden sm:inline" />
       
</h1>
<solutions5Post.default />  
<Image src={solutions5Img} alt="Rainwater Irrigation"/>

    </div>

  

   
  </section>
</BaseLayout>
